<template lang='pug'>
  a.button(v-if='href' :href='href' :class='cls')
    slot
      icon(v-if='iconLeft' :icon='iconLeft')
      span {{text}}
      icon(v-if='iconRight' :icon='iconRight')

  span.button(v-else-if='static' :class='cls')
    slot
      icon(v-if='iconLeft' :icon='iconLeft')
      span {{text}}
      icon(v-if='iconRight' :icon='iconRight')

  button.button(v-else :class='cls' @click='handleClick' :disabled='isDisabled')
    slot
      icon(v-if='iconLeft' :icon='iconLeft')
      span {{ text }}
      icon(v-if='iconRight' :icon='iconRight')

</template>

<script>
  import Icon from '../icon/Icon'
  import { mapActions } from 'vuex'

  export default {
    name: 'VbButton',

    components: [
      Icon
    ],

    props: {
      href: {
        default: '',
        type: String
      },

      static: {
        type: Boolean,
        default: false
      },

      iconLeft: {
        default: '',
        type: String
      },

      iconRight: {
        default: '',
        type: String
      },

      disabled: {
        type: Boolean,
        default: false
      },

      text: {
        default: '',
        type: [String, Number]
      },

      title: {
        default: '',
        type: [String, Number]
      },

      sequence: {
        default () { return [] },
        type: Array
      },

      action: {
        default: '',
        type: String
      },

      function: {
        default: '',
        type: String
      },

      argument: {
        default: false,
        type: [String, Number, Boolean, Array, Object]
      },

      namespaced: {
        default: true,
        type: Boolean
      }
    },

    data () {
      return {
        isActive: false,
        isFocused: false,
        isHover: false,
        isLoading: false,
        isStatic: this.static,
        isDisabled: this.disabled,
        hasSequence: this.sequence.length > 0,
        hasAction: this.action !== '',
        hasFunction: this.function !== '',
        hasWarning: !this.hasSequence && !this.hasAction && !this.hasFunction,
        methodList: ['Sequence', 'Action', 'Function', 'Warning']
      }
    },

    computed: {
      cls () {
        return {
          'is-active': this.isActive,
          'is-focused': this.isFocused,
          'is-hover': this.isHover,
          'is-loading': this.isLoading,
          'is-static': this.isStatic
        }
      }
    },

    methods: {
      ...mapActions({
        triggerAction: 'vuelma/triggerAction'
      }),

      makeCollectionItem (a) {
        return {
          name: a,
          value: this[`has${a}`]
        }
      },

      makeCollection () {
        return this.methodList.map(this.makeCollectionItem)
      },

      handleClick () {
        this[`do${_.find(this.makeCollection(), { value: true }).name}`]()
      },

      doWarning () {
        console.warn('Button has no purpose!')
      },

      doSequence () {
        this.sequence.forEach((s) => {
          this[`do${_.capitalize(s.type)}`](s.name, s.argument)
        })
      },

      doAction (name = this.action, argument = this.argument) {
        return !this.namespaced
          ? this.$store.dispatch({
            type: name,
            payload: argument
          })
          : this.triggerAction({
            type: name,
            data: argument
          })
      },

      doFunction (name = this.function, argument = this.argument) {
        console.warn('doFunction is not implemented properly')
        this.$parent[name]()
      }
    }
  }
</script>
