<template lang='pug'>
  figure.image
    slot
      img(:src='src')

</template>

<script>
  export default {
    name: 'VbImage',

    props: {
      src: {
        default: '',
        type: String
      }
    }
  }
</script>
