<template lang='pug'>
  table.table
    table-item-container(v-if='hasHead' type='head' :items='head')
    table-item-container(v-if='hasFoot' type='foot' :items='foot || head')
    table-item-container(type='body' :items='body')
</template>

<script>
  import TableItemContainer from './TableItemContainer'

  export default {
    name: 'VbTable',

    components: [
      TableItemContainer
    ],

    props: {
      head: {
        default () { return {} },
        type: Object
      },

      foot: {
        default () { return {} },
        type: Object
      },

      body: {
        default () { return {} },
        type: Object
      }
    }
  }
</script>
