doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    title vuelma
    link(rel="stylesheet" href="../node_modules/bulma/css/bulma.css")
    link(rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css")

  body
    #app
    script(src="./build.js")
