<template lang='pug'>
  button.delete(v-if='parentIsCard' @click='handleClick')
  .modal-close(v-else @click='handleClick')
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'ModalClose',

    props: {
      parentIsCard: {
        type: Boolean,
        default: false
      }
    },

    methods: {
      ...mapActions({
        triggerAction: 'vuelma/triggerAction'
      }),

      handleClick () {
        this.triggerAction({
          type: 'closeModal'
        })
      }
    }
  }
</script>
