<template lang='pug'>
  .modal-background(@click='handleClick')
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'ModalBackground',

    methods: {
      ...mapActions({
        triggerAction: 'vuelma/triggerAction'
      }),

      handleClick () {
        this.triggerAction({
          type: 'closeModal'
        })
      }
    }
  }
</script>

