<template lang='pug'>
  header.modal-card-head
    p.modal-card-title
      slot
        | {{ $options.name }}
    modal-close(:parentIsCard='true')
</template>

<script>
  import ModalClose from './ModalClose'

  export default {
    name: 'ModalCardHead',

    components: [
      ModalClose
    ]
  }
</script>

