<template lang='pug'>
  transition(name='modal')
    .modal(v-if='isActive' :class='cls')
      modal-background
      template(v-if='isCard')
        modal-card
          template(slot='head')
            slot(name='head')
          template(slot='body')
            slot(name='body')
          template(slot='foot')
            slot(name='foot')

      template(v-else)
        modal-content
          slot
        modal-close
</template>

<script>
  import ModalBackground from './ModalBackground'
  import ModalClose from './ModalClose'
  import ModalContent from './ModalContent'
  import ModalCard from './ModalCard'
  import instanceMixin from '@/mixins/instance'
  import { mapGetters } from 'vuex'

  export default {
    name: 'Modal',

    components: [
      ModalBackground,
      ModalClose,
      ModalContent,
      ModalCard
    ],

    mixins: [
      instanceMixin
    ],

    props: {
      isCard: {
        type: Boolean,
        default: false
      },

      name: {
        type: String,
        default: 'default-modal'
      }
    },

    data () {
      return {
        isActive: false
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      cls () {
        return {
          'is-active': this.isActive
        }
      }
    },

    watch: {
      getInstances (types) {
        this.isActive = types[this.$options.name][this._uid].active
      }
    },

    created () {
      this.initialInstanceData = {
        name: this.name,
        active: false
      }
    }
  }
</script>
