<template lang='pug'>
  .modal-card
    modal-card-head
      slot(name='head')
    modal-card-body
      slot(name='body')
    modal-card-foot
      slot(name='foot')
</template>

<script>
  import ModalCardBody from './ModalCardBody'
  import ModalCardFoot from './ModalCardFoot'
  import ModalCardHead from './ModalCardHead'

  export default {
    name: 'ModalCard',

    components: [
      ModalCardBody,
      ModalCardFoot,
      ModalCardHead
    ]
  }
</script>
