<template lang='pug'>
  option(
    :value='value'
    :disabled='disabled'
    :selected='selected'
  )
    slot {{ text }}
</template>

<script>
  export default {
    name: 'VbOption',

    props: {
      value: {
        default: '',
        type: [String, Number]
      },

      selected: {
        default: false,
        type: Boolean
      },

      disabled: {
        default: false,
        type: Boolean
      },

      text: {
        default: '',
        type: [String, Number]
      }
    }
  }
</script>
