<template lang='pug'>
  .select(:class='cls')
    select(
      :multiple='multiple'
      :disabled='disabled'
      :size='size'
    )
      slot
        template(v-for='option in options')
          vb-option(
            :selected='option.selected'
            :value='option.value'
            :text='option.text'
            :disabled='option.disabled'
          )

</template>

<script>
  export default {
    name: 'VbSelect',
    props: {
      multiple: {
        default: false,
        type: Boolean
      },

      disabled: {
        default: false,
        type: Boolean
      },

      size: {
        default: '',
        type: String
      },

      options: {
        default () {
          return [
            {selected: true, value: 1, text: 'One'},
            {value: 2, text: 'Two'},
            {value: 3, text: 'Three'}
          ]
        },
        type: Array
      }
    },

    data () {
      return {
        isMultiple: this.multiple
      }
    },

    computed: {
      cls () {
        return {
          'is-multiple': this.isMultiple,
          'is-hovered': this.isHovered,
          'is-focused': this.isFocused,
          'is-loading': this.isLoading
        }
      }
    }
  }
</script>
