<template lang='pug'>
  span.icon: i(:class='cls')
</template>

<script>
  export default {
    name: 'Icon',

    props: {
      type: {
        type: String,
        default: 'fa'
      },

      icon: {
        type: String,
        default: 'question-circle-o'
      }
    },

    computed: {
      cls () {
        return [this.type, `${this.type}-${this.icon}`].join(' ')
      }
    }
  }
</script>
