<template lang='pug'>
  a.tag.is-delete(v-if='isDelete' @click='handleClick')
  span.tag(v-else v-show='!isDestroyed' :class='classes')
    slot
      | {{text}}
      button.delete(v-if='hasDelete' @click='handleClick')
</template>

<script>
  import destroySelf from '../../../mixins/destroySelf'

  export default {
    name: 'Tag',

    mixins: [
      destroySelf
    ],

    props: {
      text: {
        default: '',
        type: [String, Number]
      },

      isDelete: {
        type: Boolean,
        default: false
      },

      hasDelete: {
        type: Boolean,
        default: false
      },

      classes: {
        default: '',
        type: String
      }
    },

    data () {
      return {
        isDestroyed: false
      }
    },

    methods: {
      handleClick () {
        if (this.isDelete) {
          this.destroyAddons()
        }

        if (this.hasDelete) {
          this.destroySelf()
        }
      },

      destroyAddons () {
        this.$parent.$parent.destroySelf()
      }
    }
  }
</script>
