<template lang='pug'>
  tags.has-addons(:tags='tags' v-show='!isDestroyed')
    slot
</template>

<script>
  import Tags from './Tags.vue'
  import Tag from './Tag.vue'
  import instance from '../../../mixins/instance'
  import destroySelf from '../../../mixins/destroySelf'

  export default {
    name: 'TagsAddons',

    components: [
      Tags,
      Tag
    ],

    mixins: [
      destroySelf,
      instance
    ],

    props: {
      hasDelete: {
        type: Boolean,
        default: false
      },

      tags: {
        type: Array,
        default () {
          return [
            {classes: 'is-primary', text: 'First!'},
            {isDelete: true}
          ]
        }
      }
    }
  }
</script>
