<template lang='pug'>
  .tags
    slot
      tag(
        v-for='(tag, index) in tags'
        :key='index'
        :classes='tag.classes'
        :hasDelete='tag.hasDelete'
        :isDelete='tag.isDelete'
        :text='tag.text'
      )
</template>

<script>
  import Tag from './Tag.vue'
  import destroySelf from '@/mixins/destroySelf'
  import instance from '@/mixins/instance'

  export default {
    name: 'Tags',

    components: [
      Tag
    ],

    mixins: [
      destroySelf,
      instance
    ],

    props: {
      tags: {
        type: Array,
        default () {
          return [
            {classes: 'is-primary', text: 'First'},
            {classes: 'is-dark', text: 'Second', hasDelete: true},
            {classes: 'is-success', text: 'Third'}
          ]
        }
      }
    }
  }
</script>
