<template lang='pug'>
  li(:name='name' :class='cls')
    a(:href='href' @click='handleClick')
      icon(v-if='icons.left' :icon='icons.left' :class='icons.mod')
      span(v-if='text') {{ text }}
      icon(v-if='icons.right' :icon='icons.right' :class='icons.mod')
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import Icon from '../../elements/icon/Icon.vue'

  export default {
    name: 'Tab',

    components: {
      Icon
    },

    props: {
      name: {
        type: String,
        required: true
      },

      icons: {
        type: Object,
        default () {
          return {
            mod: null,
            left: null,
            right: null
          }
        }
      },

      text: {
        type: String,
        default: ''
      },

      href: {
        type: String,
        default: 'javascript:void(0)'
      },

      active: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        isActive: this.active
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      cls () {
        return {
          'is-active': this.isActive
        }
      },

      // FIXME: Not used anywhere
      names () {
        return `${this.$parent._uid}--${this.name}`
      }
    },

    watch: {
      getInstances (types) {
        let name = this.$parent.$options.name
        let uid = this.$parent._uid
        this.isActive = types[name][uid].active.name === this.name
      }
    },

    methods: {
      ...mapActions({
        setActiveForInstance: 'vuelma/setActiveForInstance'
      }),

      handleClick () {
        if (!this.isActive) {
          this.setActiveForInstance({
            type: this._parentInstance.$options.name,
            id: this._parentInstance._uid,
            data: {
              name: this.name,
              props: this.$props
            }
          })
        }
      }
    }
  }
</script>
