<template lang='pug'>
  .tabs(:name='name')
    ul
      slot
        tab(
          v-for='(tab, index) in items'
          :key='index'
          :name='tab.name'
          :icons='tab.icons'
          :text='tab.text'
          :href='tab.href'
          :active='tab.active||false'
        )

</template>

<script>
  import Tab from './Tab.vue'
  import instanceMixin from '../../../mixins/instance'

  export default {
    name: 'Tabs',

    components: {
      Tab
    },

    mixins: [
      instanceMixin
    ],

    props: {
      name: {
        type: String,
        default: 'default-tabs'
      },

      useSlot: {
        type: Boolean,
        default: false
      },

      items: {
        type: Array,
        default () {
          return [
            {name: 'tab-a', text: 'Tab A', href: '#', active: true},
            {name: 'tab-b', text: 'Tab B', icons: {left: 'times'}},
            {name: 'tab-c', text: 'Tab C', icons: {right: 'trash-o'}}
          ]
        }
      }
    },

    data () {
      return {
        active: null
      }
    },

    created () {
      this.initialInstanceData = {}
    },

    mounted () {
      let tabs = _.map(this.$children, (child) => {
        return child.$props
      })

      this.active = _.find(tabs, 'active') || tabs[0]

      this.setDataForInstance({
        type: this.$options.name,
        id: this._uid,
        data: {
          name: this.name,
          tabs: tabs,
          active: {
            name: this.active.name,
            props: this.active
          }
        }
      })
    }
  }
</script>
