<template lang='pug'>
  transition(name='notifications' v-if='getNotifications && getNotifications[this._uid]')
    transition-group.notifications(
      name='notification'
      tag='div'
      appear
    )
      notification(
        v-for='n, i in getNotifications[this._uid].items'
        :key='n.uid'
        :id='_uid'
        :timestamp='n.timestamp'
        :expires='n.expires || 0'
        :type='n.type || ""'
        :content='n.content'
      )
</template>

<script>
  import Notification from './Notification'
  import instanceMixin from '@/mixins/instance'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'Notifications',

    components: [
      Notification
    ],

    mixins: [
      instanceMixin
    ],

    props: {
      name: {
        default: 'default-notifications',
        type: String
      },

      items: {
        default () { return [] },
        type: Array
      }
    },

    computed: {
      ...mapGetters({
        getNotifications: 'vuelma/getNotifications'
      })
    },

    created () {
      this.initialInstanceData = {
        name: this.name,
        items: []
      }
    },

    mounted () {
      if (this.items.length > 0) {
        let n = this.getNotifications[this._uid].name

        this.items.forEach((i) => {
          console.log(n, i)
          this.createNotification({
            name: n,
            notification: i
          })
        })
      }
    },

    methods: {
      ...mapActions({
        createNotification: 'vuelma/createNotification'
      })
    }
  }
</script>
