<template lang='pug'>
  .notification(:class='cls')
    button.delete(@click='handleClick')
    p(v-html='content')
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'Notification',

    props: {
      name: {
        default: 'default-notification',
        type: String
      },

      type: {
        default: '',
        type: String
      },

      expires: {
        default: 0,
        type: Number
      },

      timestamp: {
        default: 0,
        type: Number
      },

      id: {
        default: 0,
        type: Number
      },

      content: {
        default: 'Notification with no purpose is a sad notification.',
        type: String
      }
    },

    computed: {
      cls () {
        return this.type ? `is-${this.type}` : ''
      }
    },

    mounted () {
      if (this.expires > 0 && this.timestamp > 0) {
        setTimeout(this.destroy, this.expires)
      }
    },

    methods: {
      ...mapActions({
        destroyNotification: 'vuelma/destroyNotification'
      }),

      destroy () {
        if (this.id > 0 && this.timestamp > 0) {
          this.destroyNotification({
            id: this.id,
            timestamp: this.timestamp
          })
        }
      },

      handleClick () {
        this.destroy()
      }
    }
  }
</script>
