<template lang='pug'>
  .file(:class='cls')
    label.file-label
      input.file-input(
        type='file'
        ref='fileInput'
        :name='name'
        :disabled='disabled'
        @change='onChange'
      )

      span.file-cta
        icon.file-icon(:icon='icon')
        span.file-label {{ text }}

      span.file-name(v-if='hasName') {{ fileName }}

</template>

<script>
  export default {
    name: 'File',

    props: {
      text: {
        type: String,
        default: 'Choose a file...'
      },

      name: {
        type: String,
        default: 'file'
      },

      icon: {
        type: String,
        default: 'upload'
      },

      disabled: {
        type: Boolean,
        default: false
      },

      hasName: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        fileName: 'No file selected.'
      }
    },

    computed: {
      cls () {
        return {
          'has-name': this.hasName
        }
      }
    },

    methods: {
      onChange () {
        console.log(this)
        let files = this.$refs.fileInput.files
        if (files.length > 0) {
          this.fileName = files[0].name
        }
      }
    }
  }
</script>

