<template lang='pug'>
  li
    a.pagination-link(:class='cls' @click='setCurrent') {{ page }}
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'PaginationLink',

    props: {
      page: {
        default: 0,
        type: Number
      },

      index: {
        default: 0,
        type: Number
      }
    },

    computed: {
      cls () {
        return {
          'is-current': this.$parent.currentPage === this.index
        }
      }
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      setCurrent () {
        this.setDataForInstance({
          type: this._parentInstance.$options.name,
          id: this._parentInstance._uid,
          data: {
            currentPage: this.index
          }
        })
      }
    }
  }
</script>
