<template lang='pug'>
  nav.pagination(:name='name' role='navigation' aria-label='pagination')
    a.pagination-previous(
      @click='decrease'
      :disabled='shouldDisable.previous'
      ) {{ previous }}

    a.pagination-next(
      @click='increase'
      :disabled='shouldDisable.next'
      ) {{ next }}

    ul.pagination-list
      template(v-if='pages.length > showMax')
        pagination-link(:index='0' :page='pages[0]')
        pagination-ellipsis(v-show='currentPage - 2 > 0')

        template(v-for='(obj, index) in shortPages')
          pagination-link(
            v-show='obj.index'
            :page='obj.page'
            :index='obj.index'
            :key='index'
          )

        pagination-ellipsis(v-show='pages.length > currentPage + 2 ')
        pagination-link(:index='pages.length - 1' :page='pagesTotal - 1')

      template(v-else v-for='(page, index) in pages')
        pagination-link(:page='page' :index='index' :key='index')

</template>

<script>
  import PaginationLink from './PaginationLink.vue'
  import PaginationEllipsis from './PaginationEllipsis.vue'
  import { mapGetters, mapActions } from 'vuex'
  import instanceMixin from '../../../mixins/instance.js'

  export default {
    name: 'Pagination',

    components: {
      PaginationEllipsis,
      PaginationLink
    },

    mixins: [
      instanceMixin
    ],

    props: {
      name: {
        type: String,
        default: 'default-pagination'
      },

      pagesTotal: {
        type: Number,
        default: 8
      },

      showMax: {
        type: Number,
        default: 5
      },

      startFrom: {
        type: Number,
        default: 0
      },

      next: {
        type: String,
        default: 'Next'
      },

      previous: {
        type: String,
        default: 'Previous'
      }
    },

    data () {
      return {
        currentPage: null,
        initialInstanceData: {}
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      pages () {
        return Array(this.pagesTotal).fill().map((k, i) => {
          return i
        })
      },

      shouldDisable () {
        return {
          previous: !_.isNumber(this.pages[this.currentPage - 1]),
          next: !_.isNumber(this.pages[this.currentPage + 1])
        }
      },

      shortPages () {
        let pages = this.pages
        let c = this.currentPage
        let p = c - 1
        let n = c + 1

        let short = [p, c, n].map((v, i) => {
          let index = pages.indexOf(v)
          let page = v

          let out = {}

          if (index > 0 && index < pages.length - 1) {
            out = {
              index: index,
              page: page
            }
          }

          return out
        })

        return short
      }
    },

    watch: {
      getInstances (types) {
        let type = this.$options.name
        let id = this._uid
        this.currentPage = types[type][id].currentPage
      }
    },

    created () {
      this.currentPage = this.startFrom
      this.initialInstanceData = {
        currentPage: this.currentPage,
        pagesTotal: this.pagesTotal
      }
    },

    mounted () {
      this.setDataForInstance({
        type: this.$options.name,
        id: this._uid,
        data: {
          name: this.name
        }
      })
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      increase () {
        this.setCurrentPage(1)
      },

      decrease () {
        this.setCurrentPage(-1)
      },

      setCurrentPage (n) {
        let c = this.currentPage
        let p = this.pages

        if (!_.isNumber(p[c + n])) return

        this.setDataForInstance({
          type: this.$options.name,
          id: this._uid,
          data: {
            currentPage: this.currentPage + n
          }
        })
      }
    }
  }
</script>
