<template lang='pug'>
  .field
    slot
      template
        vb-label
          slot(name='label') {{ label }}

        control
          slot(name='control')

        help
          slot(name='help') {{ help }}
</template>

<script>
  export default {
    name: 'Field',

    props: {
      label: {
        default: '',
        type: String
      },

      help: {
        default: '',
        type: String
      }
    }
  }
</script>

