<template lang='pug'>
  nav.breadcrumb(aria-label='breadcrumbs')
    ul
      slot
        breadcrumb-item(
          v-for='(item, index) in items'
          :key='index'
          :class=''
          :text='item.text'
          :href='item.href'
          :icon='item.icon || ""'
          :iconType='item.iconType'
        )
</template>

<script>
  /*
   * TODO: Add router-link support
   */
  import BreadcrumbItem from './BreadcrumbItem'
  import InstanceMixin from '@/mixins/instance'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'Breadcrumb',

    components: [
      BreadcrumbItem
    ],

    mixins: [
      InstanceMixin
    ],

    props: {
      name: {
        default: 'default-breadcrumb',
        type: String
      },

      items: {
        default () { return [] },
        type: Array
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstance'
      })
    },

    created () {
      this.initialInstanceData = {}
    },

    mounted () {
      console.log(this.items, this.$children)

      let items = _.map(this.$children, (child) => {
        return {
          _uid: child._uid,
          type: child.$options.name,
          props: child.$props
        }
      })

      this.setDataForInstance({
        type: this.$options.name,
        id: this._uid,
        data: {
          name: this.name,
          items: items,
          active: {
            _uid: _.last(items)._uid
          }
        }
      })
    },

    updated () {
      let x = _.last(this.$children)
      return x.getActive() ? () => {} : x.setActive(true)
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      })
    }
  }
</script>
