<template lang='pug'>
  li(:class='cls')
    a(:href='href' @click='handleClick')
      slot
        icon(v-if='icon !== ""' :type='iconType' :icon='icon')
        | {{ text }}
</template>

<script>
  /*
   * TODO: Add router-link support
   */
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'BreadcrumbItem',

    props: {
      href: {
        default: '#',
        type: String
      },

      text: {
        default: '',
        type: String
      },

      icon: {
        default: '',
        type: String
      },

      iconType: {
        default: 'fa',
        type: String
      }
    },

    data () {
      return {
        hasParent: this._parentInstance !== undefined,
        isActive: false
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      cls () {
        return {
          'is-active': this.isActive
        }
      }
    },

    methods: {
      ...mapActions({
        setActiveForInstance: 'vuelma/setActiveForInstance'
      }),

      getActive () {
        return this.isActive
      },

      // TODO: To leave this as it was or use it as it is, that is the question...
      setActive (v) {
        // const p = this._parentInstance
        // let isActive = this.isActive

        // if (p && p.$options) {
        //   const n = p.$options.name
        //   const i = p._uid

        //   isActive = this._uid === this.getInstances[n][i].active._uid
        // }

        // this.isActive = isActive

        this.isActive = v
      },

      handleClick () {
        console.log('click')
      }
    }
  }
</script>

