<template lang='pug'>
  input.input(
    :type='type'
    :placeholder='placeholder'
    :disabled='disabled'
    :value='value'
  )
</template>

<script>
  export default {
    name: 'VbInput',

    props: {
      type: {
        type: String,
        default: 'text'
      },

      placeholder: {
        type: [String, Number],
        default: ''
      },

      disabled: {
        type: Boolean,
        default: false
      },

      value: {
        default: '',
        type: [String, Number]
      }
    },

    data () {
      return {
        inputValue: this.value
      }
    }
  }
</script>
