<template lang='pug'>
  .navbar-start
    slot
      navbar-item Default start
</template>

<script>
  import NavbarItem from './NavbarItem.vue'

  export default {
    name: 'NavbarStart',

    components: {
      NavbarItem
    }
  }
</script>
