<template lang='pug'>
  nav.navbar
    slot
      navbar-brand(:logo='logo')
      navbar-menu
</template>

<script>
  import NavbarBrand from './NavbarBrand.vue'
  import NavbarMenu from './NavbarMenu.vue'
  import instanceMixin from '../../../mixins/instance'

  export default {
    name: 'Navbar',

    components: {
      NavbarBrand,
      NavbarMenu
    },

    mixins: [
      instanceMixin
    ],

    props: {
      name: {
        type: String,
        default: 'default-navbar'
      },

      logo: {
        type: Object,
        default () {
          return {
            src: '',
            alt: ''
          }
        }
      },

      menu: {
        type: Object,
        default () {
          return {
            start: [],
            end: []
          }
        }
      }
    },

    data () {
      return {
        initialInstanceData: {}
      }
    },

    created () {
      window.navbar = this
      this.initialInstanceData = {
        burgerActive: false
      }
    }
  }
</script>
