<template lang='pug'>
  .navbar-end
    slot
      navbar-item Default end
</template>

<script>
  import NavbarItem from './NavbarItem.vue'

  export default {
    name: 'NavbarEnd',

    components: {
      NavbarItem
    }
  }
</script>
