<template lang='pug'>
  .navbar-brand
    navbar-item(v-if='logo.src')
      img(
        :src='logo.src'
        :alt='logo.alt'
        :height='logo.height'
        :width='logo.width'
      )

    slot
      //- navbar-item Brand item

    navbar-burger
</template>

<script>
  import NavbarItem from './NavbarItem.vue'
  import NavbarBurger from './NavbarBurger.vue'

  export default {
    name: 'NavbarBrand',

    components: {
      NavbarItem,
      NavbarBurger
    },

    props: {
      logo: {
        type: Object,
        default () {
          return {
            src: '',
            height: '',
            width: '',
            alt: ''
          }
        }
      }
    }
  }
</script>
