<template lang='pug'>
  a.navbar-item(v-if='!dropdown' :href='href' :target='target')
    slot

  .navbar-item.has-dropdown(v-else)
    slot
</template>

<script>
  export default {
    name: 'NavbarItem',

    props: {
      href: {
        default: '',
        type: String
      },

      target: {
        type: String,
        default: ''
      },

      dropdown: {
        type: Boolean,
        default: false
      }
    }
  }
</script>
