<template lang='pug'>
  .navbar-menu(:class='cls')
    slot
      navbar-start
      navbar-end
</template>

<script>
  import NavbarItem from './NavbarItem.vue'
  import NavbarStart from './NavbarStart.vue'
  import NavbarEnd from './NavbarEnd.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'NavbarMenu',

    components: {
      NavbarItem,
      NavbarStart,
      NavbarEnd
    },

    props: {
      start: {
        default () { return [] },
        type: Array
      },

      end: {
        default () { return [] },
        type: Array
      }
    },

    data () {
      return {
        isActive: false
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      cls () {
        return {
          'is-active': this.isActive
        }
      }
    },

    watch: {
      getInstances (types) {
        let id = this.$parent._uid
        let type = this.$parent.$options.name
        this.isActive = types[type][id].burgerActive || false
      }
    }
  }
</script>
