<template lang='pug'>
  a.navbar-link(@click='handleClick')
    slot
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'NavbarLink',

    props: {
      isActive: {
        default: false,
        type: Boolean
      },

      isHover: {
        default: false,
        type: Boolean
      },

      dropdownUid: {
        default: -1,
        type: Number
      }
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      handleClick () {
        if (!this.isHover && this.dropdownUid >= 0) {
          this.setDataForInstance({
            type: this._parentInstance.$options.name,
            id: this._parentInstance._uid,
            data: {
              dropdownActive: {
                _uid: this.dropdownUid,
                isActive: !this.isActive
              }
            }
          })
        }
      }
    }
  }
</script>
