<template lang='pug'>
  navbar-item(
    :dropdown='true'
    :class='cls'
    @mouseenter.native='handleMouseenter'
    @mouseleave.native='handleMouseleave'
  )
    navbar-link(
      :is-active='isActive'
      :is-hover='isHover'
      :dropdownUid='this._uid'
      ) {{link}}
    .navbar-dropdown(:class='dropCls')
      slot
</template>

<script>
  import NavbarItem from './NavbarItem.vue'
  import NavbarLink from './NavbarLink.vue'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'NavbarDropdown',

    components: {
      NavbarItem,
      NavbarLink
    },

    props: {
      link: {
        type: String,
        default: ''
      },

      isBoxed: {
        type: Boolean,
        default: false
      },

      isHover: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        isActive: false,
        hasMouseover: false
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'vuelma/getInstances'
      }),

      cls () {
        return {
          'is-active': this.isActive
        }
      },

      dropCls () {
        return {
          'is-right': this.$parent.$options.name === 'navbar-end',
          'is-boxed': this.isBoxed
        }
      }
    },

    watch: {
      getInstances (types) {
        let id = this._parentInstance._uid
        let type = this._parentInstance.$options.name
        let dropdown = types[type][id].dropdownActive
        this.toggle(dropdown)
      }
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      setActive (value) {
        this.isActive = value
      },

      setMouseover (value) {
        this.hasMouseover = value
        if (this.isHover) {
          this.setActive(value)
        }
      },

      handleMouseenter () {
        this.setMouseover(true)
        this.setData()
      },

      handleMouseleave () {
        this.setMouseover(false)
        this.setData()
      },

      setData () {
        if (this.isHover) {
          this.setDataForInstance({
            type: this._parentInstance.$options.name,
            id: this._parentInstance._uid,
            data: {
              dropdownActive: {
                _uid: this._uid,
                isActive: this.isActive
              }
            }
          })
        }
      },

      toggle (dropdown) {
        if (dropdown) {
          let isThis = dropdown._uid === this._uid
          let isActive = dropdown.isActive

          let active = isThis && isActive
          let value = this.isHover ? active && this.hasMouseover : active
          this.setActive(value)
        }
      }
    }
  }
</script>
