<template lang='pug'>
  .navbar-burger.burger(:class='cls' @click='handleClick')
    span
    span
    span
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'NavbarBurger',

    data () {
      return {
        isActive: false
      }
    },

    computed: {
      cls () {
        return {
          'is-active': this.isActive
        }
      }
    },

    created () {
      this.setData()
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      setData () {
        if (this._parentInstance) {
          this.setDataForInstance({
            type: this._parentInstance.$options.name,
            id: this._parentInstance._uid,
            data: {
              burgerActive: this.isActive
            }
          })
        }
      },

      handleClick () {
        this.toggle()
      },

      toggle () {
        this.isActive = !this.isActive
        this.setData()
      }
    }
  }
</script>
