<template lang='pug'>
  a.dropdown-item(v-if='!isContainer' :href='href')
    slot
  .dropdown-item(v-else)
    slot
</template>

<script>
  export default {
    name: 'DropdownItem',

    props: {
      isContainer: {
        default: false,
        type: Boolean
      },

      href: {
        default: '#',
        type: String
      }
    }
  }
</script>
