<template lang='pug'>
  .dropdown-menu
    .dropdown-content
      slot
        dropdown-item Hello
</template>

<script>
  import DropdownItem from './DropdownItem'

  export default {
    name: 'DropdownMenu',

    components: [
      DropdownItem
    ]
  }
</script>
