<template lang='pug'>
  .dropdown(
    :class='cls'
    @mouseenter='handleMouseenter'
    @mouseleave='handleMouseleave'
  )
    dropdown-trigger(:action='handleClick')
      | {{ title }}
    transition(name='dropdown-menu' tag='div')
      dropdown-menu(:id='menuId' v-if='isHoverable || isActive')
        slot
</template>

<script>
  import DropdownTrigger from './DropdownTrigger'
  import DropdownMenu from './DropdownMenu'
  import config from '@/mixins/config'

  export default {
    name: 'Dropdown',

    components: [
      DropdownTrigger,
      DropdownMenu
    ],

    mixins: [
      config
    ],

    props: {
      name: {
        default: 'default-dropdown',
        type: String
      },

      title: {
        default: 'Dropdown',
        type: String
      },

      isHover: {
        default: false,
        type: Boolean
      },

      hoverEnter: {
        default: 0,
        type: Number
      },

      hoverExit: {
        default: 0,
        type: Number
      }
    },

    data () {
      return {
        enterTime: this.hoverEnter || this.getConf().hoverEnter,
        exitTime: this.hoverExit || this.getConf().hoverExit,
        isActive: false,
        isHoverable: false,
        hasMouseover: false,
        hasEntered: null,
        hasLeft: null
      }
    },

    computed: {
      cls () {
        return {
          'is-active': this.isActive
        }
      },

      menuId () {
        return `dropdown-menu-${this._uid}`
      }
    },

    created () {
      console.log(this.$root.$options.vuelma)
    },

    mounted () {
      this.isHoverable = this.$vnode.elm.classList.contains('is-hoverable')
    },

    methods: {
      setActive (v) {
        this.isActive = v
      },

      setMouseover (v) {
        this.hasMouseover = v
        return !this.isHover || this.setActive(v)
      },

      toggle () {
        this.setActive(!this.isActive)
      },

      handleMouseenter () {
        clearTimeout(this.hasLeft)

        this.hasEntered = setTimeout(() => {
          this.setMouseover(true)
        }, this.enterTime)
      },

      handleMouseleave () {
        this.hasLeft = setTimeout(() => {
          this.setMouseover(false)
        }, this.exitTime)
      },

      handleClick () {
        return this.isHoverable || this.isHover || this.toggle()
      }
    }
  }
</script>
