<template lang='pug'>
  .dropdown-trigger
    button.button(@click='handleClick')
      span
        slot Dropdown
</template>

<script>
  export default {
    name: 'DropdownTrigger',

    props: {
      action: {
        default () {},
        type: Function
      }
    },

    methods: {
      handleClick () {
        this.action()
      }
    }
  }
</script>

