<template lang='pug'>
  label.radio
    input(
      type='radio'
      :name='name'
      :value='value'
      :disabled='disabled'
    )
    slot {{ text }}

</template>

<script>
  export default {
    name: 'VbRadio',

    props: {
      disabled: {
        type: Boolean,
        default: false
      },

      name: {
        type: [String, Number],
        default: ''
      },

      value: {
        type: [String, Number],
        default: ''
      },

      text: {
        type: [String, Number],
        default: ''
      }
    }
  }
</script>
