<template lang='pug'>
  aside.menu
    slot
      menu-label Foo
      menu-list
        menu-item What is law!
      menu-label Bar
      menu-list
        menu-item Yes!
          menu-list(slot='menu-list')
            menu-item What!
        menu-item No!
</template>

<script>
  import MenuLabel from './MenuLabel'
  import MenuList from './MenuList'
  import MenuItem from './MenuItem'

  export default {
    name: 'VbMenu',

    components: [
      MenuLabel,
      MenuList,
      MenuItem
    ]
  }
</script>
