<template lang='pug'>
  li
    a(:href='href' :class='cls' @click='handleClick')
      slot
    slot(name='menu-list')
</template>

<script>
  export default {
    name: 'MenuItem',

    props: {
      href: {
        default: '#',
        type: String
      },

      fn: {
        default () {},
        type: Function
      }
    },

    data () {
      return {
        isActive: false
      }
    },

    computed: {
      cls () {
        return {
          'is-active': this.isActive
        }
      }
    },

    methods: {
      setActive (v) {
        this.isActive = v
      },

      toggle () {
        this.setActive(!this.isActive)
      },

      handleClick (e) {
        e.preventDefault()
        this.toggle()
      }
    }
  }
</script>
