<template lang='pug'>
  #app
    navbar(name='main')
      navbar-brand
        navbar-item
          img(src='../static/vuelma-128.png')
        navbar-item Brand item
      navbar-menu
        navbar-start
          navbar-item Start item

          navbar-dropdown(link='Hover' is-hover is-boxed)
            navbar-item Something.
            navbar-divider
            navbar-item Last item

        navbar-end
          navbar-dropdown(link='Click!' is-boxed)
            navbar-item Something.

          navbar-item End item

    .container
      hr
      .block
        p.subtitle Menu
        vb-menu
        vb-menu
          menu-label Awesome
          menu-list
            menu-item First
            menu-item Second
          menu-label Super
          menu-list
            menu-item Someting Else
              menu-list(slot='menu-list')
                menu-item Whoa!

      hr
      .block
        p.subtitle Dropdown
        .level
          .level-item
            dropdown.is-left(:isHover='true' title='is-left')
          .level-item
            dropdown.is-up(:isHover='true' title='is-up')
          .level-item
            dropdown.is-right(:isHover='true' title='is-right')
        .level
          .level-left
            .level-item
              dropdown(title='Click')
                dropdown-item Wow!
            .level-item
              dropdown.is-hoverable(title='Pure CSS hover')
            .level-item
              dropdown(:isHover='true' title='JS hover')
                dropdown-item(href='#') Wow!
                dropdown-item(href='#') OMG!
                dropdown-divider
                dropdown-item(is-container)
                  p: strong IKR?! Much wow!
        p Note, in order to enable transitions:
        pre.
          .dropdown:not(.is-hoverable) .dropdown-menu {
            display: block;
          }

      hr
      .block
        p.subtitle Notification(s)
        vb-button(action='createNotification', :argument='randomMessage()') Create a random notification!
        notifications(:items='[{content: "Raw HTML? <strong>Yaaasss!</strong>"}]')

      hr
      .block
        p.subtitle Progress
        vb-button(function='fakeProgress') Fake Progress
        vb-progress(:value='fakedProgress' before='Progress: ')
        vb-progress(:value='50')
        vb-progress(:value='75')
        vb-progress(:value='100')

      hr
      .block
        p.subtitle Table
        tag.is-warning WIP

      hr
      .block
        p.subtitle Breadcrumbs

        p Using props
        breadcrumb(
        :items='[{ text: "foo" }, { icon: "thumbs-up", text: "bar" }, { text: "qux" }]'
        )

        p Using slot
        breadcrumb
          breadcrumb-item foo
          breadcrumb-item
            icon
            | bar
          breadcrumb-item qux

      hr
      .block
        p.subtitle Form

        field
          template(slot='label') Using named slots
          vb-select(slot='control')
          template(slot='help') Help me!

        field
          vb-label Using the main slot
          control.has-icons-left
            vb-select
            icon.is-left(icon='globe')
          help OK!

        field.is-grouped
          control
            file
          control
            file(has-name)

        field
          control
            vb-textarea(placeholder='Type here!')

        field
          control
            vb-input(placeholder='Hold me!')

        field
          control
            vb-checkbox(name='check' value='checked') Check this out!

        field
          vb-label Yes or No?
          control
            vb-radio(name='yesno' value='yes') Aye
            vb-radio(name='yesno' value='no') Nay
          help Yes or no, very simple question.

        field
          control
            vb-select(multiple size='3')
              vb-option Foo
              vb-option Bar
              vb-option(selected) Quux

        field
          control.has-icons-left
            vb-select
            icon.is-left(icon='globe')

      hr
      .block
        p.subtitle Image
        vb-image.is-128x128(src='static/vuelma-full.png')

      hr
      .block
        p.subtitle Modal
        modal
          .box Just some random stuff!
        vb-button.is-primary(
          action='openModal'
          argument='default-modal'
        ) Open default-modal

        modal(name='card-modal' is-card)
          span(slot='head') Amazing card modal
          template(slot='body')
            p.subtitle Hello
            p I am boring content of this modal.
          template(slot='foot')
            vb-button.is-primary(action='closeModal') Bye!
            vb-button.is-dark(
              action='openModal'
              argument='another-modal'
            )
              span I
              icon(icon='heart')
              span Modals, show me another!

        modal(name='another-modal')
          vb-image(src='static/vuelma-full.png')
        vb-button.is-primary(
          action='openModal'
          argument='card-modal'
        ) Open card-modal

      hr
      .block
        p.subtitle Buttons
        vb-button.is-primary(iconRight='trash-o' text='Trashy button!')

        vb-button.is-dark(href='#')
          | This is actually a link.

        vb-button(static)
          span This is static?

        vb-button(function='test' :argument='1')
          | test(1)

        vb-button(:namespaced='false' action='vuelma/test' argument='foobar')
          | Not namespaced

        vb-button(action='openModal' argument='another-modal')
          | openModal('another-modal')

        vb-button(:sequence="[{type: 'action', name: 'openModal', argument: 'another-modal'}, {type: 'function', name: 'test'}]")
          | action, function

      hr
      .block
        p.subtitle
          span Tags
        tag Lonely tag

        tags

        tags
          tag(v-for='x in [1, 2, 3]' :key='x') Number {{ x }}

        tags-addons

        tags-addons
          tag.is-danger
            icon.is-small(icon='trash')
            |isDelete > hasDelete
            icon.is-small(icon='trash-o')
          tag(is-delete has-delete)

        tags-addons
          tag.is-warning Wat
          tag.is-dark Is
          tag.is-success Law
          tag(is-delete)

      hr
      .block
        p.subtitle
          span Pagination

        pagination.is-right(name='first' :pagesTotal='10')
        tag Current page: {{ getPagination('first') }}
        pagination.is-right(name='second' :pagesTotal='10' :showMax='10')
        tag Current page: {{ getPagination('second') }}
        pagination.is-centered(name='third' :pagesTotal='5')
        tag Current page: {{ getPagination('third') }}
        pagination(name='fourth')
        tag Current page: {{ getPagination('fourth') }}

      hr
      .block
        p.subtitle
          span Tabs

        tabs.is-boxed
        p(v-if="getActive('Tabs', 'default-tabs', 'tab-a')") foo
        p(v-else-if="getActive('Tabs', 'default-tabs', 'tab-b')") bar
        p(v-else-if="getActive('Tabs', 'default-tabs', 'tab-c')") qux
        tabs.is-fullwidth.is-toggle(name='custom')
          tab(name='derp'  text='Foobar!')
          tab(name='derpzy' active text='Quux!' :icons="{ left: 'times' }")
          tab(name='wtf' :icons="{ left: 'question', right: 'exclamation' }")
        tabs.is-fullwidth.is-toggle(name='custom')
          tab(name='derpx'  text='No active!')
          tab(name='derpy'  text='No active!')
          tab(name='derpz'  text='No active!')

</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'App',

    data () {
      return {
        fakedProgress: 0
      }
    },

    computed: {
      ...mapGetters({
        getInstances: 'getInstances',
        getActive: 'vuelma/getActiveFromInstance',
        getPagination: 'vuelma/getPageFromPagination'
      })
    },

    mounted () {
      window.app = this
    },

    methods: {
      ...mapActions({
        createNotification: 'vuelma/createNotification'
      }),

      fakeProgress (e, a = 0) {
        if (a / 100 < 1) {
          let b = a + Math.ceil(Math.random() * 10)
          this.fakedProgress = b

          return setTimeout(() => {
            this.fakeProgress(e, b)
          }, 100)
        }
      },

      randomMessage () {
        let a = ['Massive', 'Teeny tiny', 'Super cute', 'Lazy', 'Cheeky']
        let b = ['panda', 'snail', 'cheetah', 'hawk', 'lerpicorn']
        let m = `<u>${_.sample(a)}</u> <strong>${_.sample(b)}</strong> has appeared!`
        let t = _.sample(['warning', 'info', 'success', 'danger', 'primary'])

        return {
          name: 'default-notifications',
          notification: {
            type: t,
            content: m
          }
        }
      }
    }
  }
</script>

<style lang='scss'>
  @import '../node_modules/bulma/css/bulma.css';
  @import '../node_modules/font-awesome/css/font-awesome.css';

  .dropdown:not(.is-hoverable) {
    .dropdown {
      &-menu {
        display: block;
        transition: all .25s;

        &-enter,
        &-leave-to {
          opacity: 0;
          transform: translateY(-20px);
        }
      }
    }

    &.is-up {
      .dropdown {
        &-menu {
          &-enter,
          &-leave-to {
            transform: translateY(20px);
          }
        }
      }
    }
  }

  .notifications {
    display: flex;
    flex-direction: column;
    transition: all 1s;
  }

  .notification {
    transition: all .5s;

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateY(-100px);
    }

    &-leave-active {
      position: absolute;
      width: 100%;
    }
  }

  .modal {
    &-enter-active,
    &-leave-active {
      transition: opacity .25s ease-in-out;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }
</style>
