<template lang='pug'>
  progress.progress(:value='value' :max='max')
    slot {{ textValue }}
</template>

<script>
  import instanceMixin from '@/mixins/instance'
  import { mapActions } from 'vuex'

  export default {
    name: 'VbProgress',

    mixins: [
      instanceMixin
    ],

    props: {
      name: {
        default: 'default-progress',
        type: String
      },

      value: {
        default: 0,
        type: Number
      },

      max: {
        default: 100,
        type: Number
      },

      showValue: {
        default: true,
        type: Boolean
      },

      onDone: {
        default () {},
        type: Function
      },

      before: {
        default: '',
        type: String
      },

      after: {
        default: '%',
        type: String
      }
    },

    data () {
      return {
        isDone: false
      }
    },

    computed: {
      textValue () {
        return `${this.before}${this.value}${this.after}`
      }
    },

    updated () {
      this.setDone(this.value / this.max >= 1)
      this.updateData()
    },

    created () {
      this.initialInstanceData = {
        name: this.name,
        isDone: this.isDone
      }
    },

    methods: {
      ...mapActions({
        setDataForInstance: 'vuelma/setDataForInstance'
      }),

      setDone (v) {
        this.isDone = v
      },

      updateData () {
        this.setDataForInstance({
          type: this.$options.name,
          id: this._uid,
          data: {
            isDone: this.isDone
          }
        })
      },

      doOnDone () {
        if (this.isDone) {
          return this.onDone()
        }
      }
    }
  }
</script>
