<template lang='pug'>
  textarea.textarea(
    :class='cls'
    :placeholder='placeholder'
    :disabled='disabled'
    :rows='rows'
    v-model='text'
  )
</template>

<script>
  export default {
    name: 'VbTextarea',

    props: {
      type: {
        default: 'text',
        type: String
      },

      placeholder: {
        default: '',
        type: [String, Number]
      },

      disabled: {
        default: false,
        type: Boolean
      },

      rows: {
        default: 0,
        type: [String, Number]
      }
    },

    data () {
      return {
        isHovered: false,
        isFocused: false,
        isLoading: false,
        text: ''
      }
    },

    computed: {
      cls () {
        return {
          'is-hovered': this.isHovered,
          'is-focused': this.isFocused,
          'is-loading': this.isLoading
        }
      }
    }
  }
</script>
